{% extends 'mailing/base.html' %}
{% load tags %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card rounded-3 shadow-sm mb-2">
            <div class="card-header py-3 text-center">
                <h3 class="card-title pricing-card-title">{{ object.topic }}</h3>
            </div>
            <div class="card-body">
                <img src="{% add_path object.media %}" class="img-fluid" style="max-height: 400px" alt="">
                <p>Сообщение: {{ object.body }}</p>
                {% if object.owner %}
                <p>Пользователь: {{ object.owner }}</p>
                {% else %}
                <p>Пользователя нет</p>
                {% endif %}
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
{% endblock %}